*.o
*.gcno
*.gcda
*.lcov
*.gcov
vnstat
vnstatd
vnstati
*.log
*.xml
*.trs
coverage
vnstat_tests
vnstati_check.png
check_vnstat
testdir
Makefile
autom4te.cache
*.status
src/.deps
src/.dirstamp
src/config.h
src/stamp-h1
tests/.deps
tests/.dirstamp
*~
